#include "am335x-boneblack.dts"

&i2c1 {
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <100000>;

	joystick: joystick@52 {
		compatible = "nintendo,nunchuk";
		reg = <0x52>;
	};
};
